/*    global selectors line: 12 - 50    */
/*    nav line: 52 - 122   */
/*    general link styling line: 124 - 129    */
/*    hero banner section line: 130 - 136   */
/*    welcome h1 heading line:  138 - 143   */
/*    main products on home page / Grid items line: 145 - 171   */
/*    extra content on the bottom of page, line:  173 - 211         */
/*    FOOTER, line:   213 - 224           */
/*    hiden items on small screens    226 - 230        */
/*    @media line: 227 - 262   */

body {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
  min-height: 100vh;
  background-color: #fdf4f4;
  overflow-x: hidden;
}

main {
  margin-bottom: 0 10px 10px 30px;
}

h1,
h2,
h3,
h4,
a {
  font-family: "Roboto Slab", "Helvetica", sans-serif;
  text-transform: uppercase;
}

header {
  background-color: #eec8c2;
  filter: opacity(85%);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
}

footer {
  background: #de7c6d;
  margin-top: 30px;
  border-top: 5px solid #0a3641;
  max-width: 100%;
  text-align: center;
  padding: 5px 10px;
  position: relative;
}

/*     NAV      */

#form {
  background-color: ivory;
}

nav {
  display: none;
}

header a {
  padding: 5px;
}

header nav {
  background-color: #eec8c2;
  filter: opacity(85%);
  margin-right: 20px;
}

nav i {
  font-size: 1.5em;
  padding: 0px;
  margin: 0px;
  color: #de7c6d;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: block;
  padding: 10px 10px;
  display: inline-block;
}

.nav-styling {
  border: 1px solid #de7c6d;
  border-radius: 50%;
  background-color: #fdf4f4;
}
.search-styling {
  border: 1px solid #de7c6d;
  border-radius: 10px;
  background-color: #fdf4f4;
}
#search,
.search-buttons {
  border-width: 0px;
  background-color: #fdf4f4;
}

.logo {
  position: relative;
  max-width: 300px;
  max-height: 150px;
  padding-left: 25px;
}

.sub-nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  background-color: #ddd;
  border: 1px solid #ddd;
}

.sub-nav a {
  color: #de7c6d;
}

/*   Links   */

a {
  text-decoration: none;
}

/*      Hero banner        */

.hero_banner {
  display: none;
  width: 90%;
  margin: 25px auto;
}

/*   welcome heading     */

.welcome {
  text-align: center;
  margin: 10px auto;
}

/*     main content home page / Grid items     */

.main-choises .item {
  max-width: 1000px;
  margin: 40px 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #0a3641;
  gap: 30px 10px;
  color: #de7c6d;
}

.main-choises .item:nth-of-type(2) {
  direction: rtl;
}

.main-choises img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.titel-wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
}

/*        extra content / bottom of page           */

.extra-content {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  min-height: 30vh;
  max-width: 80vw;
  position: relative;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin: auto;
  justify-content: space-evenly;
  align-items: start;
}

.first {
  background-image: url(../images/diverse1.jpg);
}

.second {
  background-image: url(../images/diverse3.jpg);
  background-position-y: -20px;
}

.third {
  background-image: url(../images/diverse2.jpg);
}

.forth {
  background-image: url(../images/diverse4.jpg);
  background-position-y: bottom;
}

.extra-content a {
  color: #0a3641;
  text-decoration: underline;
  padding: 0px 10px 15px 15px;
}

/*              FOOTER              */

footer a,
h4,
p {
  display: block;
  color: #0a3641;
}

.copyright {
  color: #0a3641;
}

/*        hiden items on small screens            */

.hiden {
  display: none;
}

/*        @media querys            */

@media (min-width: 600px) {
  nav {
    display: flex;
  }
  header {
    justify-content: space-between;
  }
  h1 {
    font-size: 1.5em;
    inline-size: 14em;
  }
  .extra-content {
    display: grid;
  }
  .hero_banner {
    display: block;
  }
  .hiden {
    display: initial;
  }
  .img-wrapper {
    height: 350px;
  }
}

@media (min-width: 800px) {
  .welcome {
    font-size: 3em;
  }
}

@media (min-width: 1000px) {
  .main-choises .item {
    margin: 40px auto;
  }
}

/*  the changes i made on my styling are quite few, i tryed to stay as much as possible to the original styling. the changes are: 
i removed the multiple hero banners and left only 1 (i know that  the img is irelevant to the page but its the one i subited with my styling so i just left it there)
on the footer section i had the items inside it on the 2 corners of the page now i have them one under the other,i removed the home button as there is the logo button there and i thought it was
a bit unesecary to have both
i changed the bg color of the buttons on nav , (on the original it had more opacity now its whitish)
if i am not forgetting something thats all the changes i made to my styling
IMPORTANT NOTICE: i know the hamburger menu is not fixed,i would like to fix it with js when the time comes
(MJ said that either we will fix it with CSS or we can wait and fix it with js)
 If you want me to fix it on the next delivary with css just tell me and i will fix it    */
