/*    global selectors line: 12 - 50    */
/*    nav line: 52 - 122   */
/*    general link styling line: 124 - 129    */
/*    hero banner section line: 130 - 136   */
/*    welcome h1 heading line:  138 - 143   */
/*    main products on home page / Grid items line: 145 - 171   */
/*    extra content on the bottom of page, line:  173 - 211         */
/*    FOOTER, line:   213 - 224           */
/*    hiden items on small screens    226 - 230        */
/*    @media line: 227 - 262   */

body {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
  min-height: 100vh;
  background-color: #fdf4f4;
  overflow-x: hidden;
}

main {
  margin-bottom: 30px;
}

h1,
h2,
h3,
h4,
a {
  font-family: "Roboto Slab", "Helvetica", sans-serif;
  text-transform: uppercase;
}

header {
  background-color: #eec8c2;
  filter: opacity(85%);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
}

footer {
  background: #de7c6d;
  margin-top: 30px;
  border-top: 5px solid #0a3641;
  max-width: 100%;
  text-align: center;
  padding: 5px 10px;
  position: relative;
}

/*     NAV      */

#form {
  background-color: ivory;
}

nav {
  display: none;
}

header nav {
  background-color: #eec8c2;
  filter: opacity(85%);
  margin-right: 20px;
}

nav i {
  font-size: 1.5em;
  padding: 0px;
  margin: 0px;
  color: #de7c6d;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: block;
  padding: 10px 10px;
  display: inline-block;
}

.nav-styling {
  border: 1px solid #de7c6d;
  border-radius: 50%;
  background-color: #fdf4f4;
  height: 25px;
  width: 25px;
  text-align: center;
}
.search-styling {
  border: 1px solid #de7c6d;
  border-radius: 10px;
  background-color: #fdf4f4;
}
#search,
.search-buttons {
  border-width: 0px;
  background-color: #fdf4f4;
}

.logo {
  position: relative;
  max-width: 300px;
  max-height: 150px;
  padding-left: 25px;
}

.sub-nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  background-color: #ddd;
  border: 1px solid #ddd;
}

.sub-nav a {
  color: #de7c6d;
}

/*   Links   */

a {
  text-decoration: none;
}

/*      Hero banner        */

.hero_banner {
  display: none;
  width: 90%;
  margin: 25px auto;
}

/*   welcome heading     */

.welcome {
  text-align: center;
  margin: 10px auto;
}

/*     main content home page / Grid items     */

.main-choises .item {
  max-width: 1000px;
  margin: 40px 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #0a3641;
  gap: 30px 10px;
}
.main-choises a {
  color: #fff;
}

.main-choises .item:nth-of-type(2) {
  direction: rtl;
}

.main-choises img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.titel-wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
}

/*        extra content / bottom of page           */

.extra-content {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  min-height: 30vh;
  max-width: 80vw;
  position: relative;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin: auto;
  justify-content: space-evenly;
  align-items: start;
}

.first {
  background-image: url(../images/diverse1.jpg);
}

.second {
  background-image: url(../images/diverse3.jpg);
  background-position-y: -20px;
}

.third {
  background-image: url(../images/diverse2.jpg);
}

.forth {
  background-image: url(../images/diverse4.jpg);
  background-position-y: bottom;
}

.extra-content a {
  color: #0a3641;
  text-decoration: underline;
  padding: 0px 10px 15px 15px;
}

/*     Mens Jackets      */
.jacket_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 20px 40px;
  gap: 20px;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
}
.jacket {
  display: grid;
  justify-items: center;
  align-items: center;
}
.jacket img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.card {
  position: relative;
  display: inline-block;
}
.cardhover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.card:hover .cardhover {
  display: inline;
}
.curent {
  text-decoration: underline;
}
.next_page {
  display: flex;
  justify-content: flex-end;
}
.next_page_item {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #fff;
}

/*              FOOTER              */

footer a,
h4,
p {
  display: block;
  color: #0a3641;
}

.copyright {
  color: #0a3641;
}

/*        hiden items on small screens            */

.hiden {
  display: none;
}

/*        @media querys            */

@media (min-width: 600px) {
  nav {
    display: flex;
  }
  header {
    justify-content: space-between;
  }
  h1 {
    font-size: 1.5em;
    inline-size: 14em;
  }
  .extra-content {
    display: grid;
  }
  .hero_banner {
    display: block;
  }
  .hiden {
    display: initial;
  }
  .img-wrapper {
    height: 350px;
  }
}

@media (min-width: 800px) {
  .welcome {
    font-size: 3em;
  }
}

@media (min-width: 1000px) {
  .main-choises .item {
    margin: 40px auto;
  }
}
