/*    global selectors line: 18 - 75    */
/*    nav line: 76 - 146   */
/*    general link styling line: 147 - 181    */
/*    hero banner section line: 182 - 189   */
/*    welcome h1 heading line:  190 - 196   */
/*    main products on home page / Grid items line: 197 - 227   */
/*    extra content on the bottom of page, line:  228 - 267         */
/*    Mens jackets, line: 269-319                                    */
/*    Jacket specific page, line: 320-402         */
/*    Reviws section inside jacket spesific page, line: 403-438     */
/*    About , line: 439-452      */
/*    Contact , line: 453-486    */
/*    Sign in , line: 487-540       */
/*    FOOTER, line:   54 - 75           */
/*    hiden items on small screens    541 - 546        */
/*    @media line: 547 - 608   */

body {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
  min-height: 100vh;
  background-color: #fdf4f4;
  overflow-x: hidden;
}

main {
  margin-bottom: 30px;
}

h1,
h2,
h3,
h4,
a {
  font-family: "Roboto Slab", "Helvetica", sans-serif;
  text-transform: uppercase;
}

h2,
h3,
h4 {
  font-size: 1.2em;
}

header {
  background-color: #eec8c2;
  filter: opacity(85%);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
}

/*              FOOTER              */

footer a,
h4,
p {
  display: block;
  color: #0a3641;
}

.copyright {
  color: #0a3641;
}
footer {
  background: #de7c6d;
  margin-top: 90px;
  border-top: 5px solid #0a3641;
  max-width: 100%;
  text-align: center;
  padding: 5px 10px;
  position: relative;
}

/*     NAV      */

#form {
  background-color: ivory;
}

nav {
  display: none;
}

header nav {
  background-color: #eec8c2;
  filter: opacity(85%);
  margin-right: 20px;
}

nav i {
  font-size: 1.5em;
  padding: 0px;
  margin: 0px;
  color: #de7c6d;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: block;
  padding: 10px 10px;
  display: inline-block;
}

.nav-styling {
  border: 1px solid #de7c6d;
  border-radius: 50%;
  background-color: #fdf4f4;
  height: 25px;
  width: 25px;
  text-align: center;
}
.search-styling {
  border: 1px solid #de7c6d;
  border-radius: 10px;
  background-color: #fdf4f4;
}
#search,
.search-buttons {
  border-width: 0px;
  background-color: #fdf4f4;
}

.logo {
  position: relative;
  max-width: 300px;
  max-height: 150px;
  padding-left: 25px;
}

.sub-nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  background-color: #ddd;
  border: 1px solid #ddd;
}

.sub-nav a {
  color: #de7c6d;
}

/*   Links   */

a {
  text-decoration: none;
}

.cta {
  background: #de7c6d;
  color: #fff;
  padding: 10px 40px;
  margin: 20px auto;
  border-radius: 6px;
}
.cta:hover {
  background: #fff;
  color: #de7c6d;
  cursor: pointer;
}

.cta-black {
  background-color: #0a3641;
  color: #f1f9ff;
  font-size: 1em;
  border-radius: 6px;
  text-transform: uppercase;
  display: block;
  margin: 20px auto;
  padding: 10px 40px;
}
.cta-black:hover {
  cursor: pointer;
  background: #f1f9ff;
  color: #0a3641;
}

/*      Hero banner        */

.hero_banner {
  display: none;
  width: 90%;
  margin: 25px auto;
}

/*   welcome heading     */

.welcome {
  text-align: center;
  margin: 10px auto;
}

/*     main content home page / Grid items     */

.main-choises .item {
  max-width: 1000px;
  margin: 40px 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #0a3641;
  gap: 30px 10px;
}
.main-choises a {
  color: #fff;
  padding: 10px;
}

.main-choises .item:nth-of-type(2) {
  direction: rtl;
}

.main-choises img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.titel-wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
}

/*        extra content / bottom of page           */

.extra-content {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  min-height: 30vh;
  max-width: 80vw;
  position: relative;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin: auto;
  justify-content: space-evenly;
  align-items: start;
}

.first {
  background-image: url(../images/diverse1.jpg);
}

.second {
  background-image: url(../images/diverse3.jpg);
  background-position-y: -20px;
}

.third {
  background-image: url(../images/diverse2.jpg);
}

.forth {
  background-image: url(../images/diverse4.jpg);
  background-position-y: bottom;
}

.extra-content a {
  color: #0a3641;
  text-decoration: underline;
  padding: 0px 10px 15px 15px;
}

/*     Mens Jackets      */
.jacket_list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 20px 40px;
  gap: 20px;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
}
.jacket {
  display: grid;
  justify-items: center;
  align-items: center;
}
.jacket img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.card {
  position: relative;
  display: inline-block;
  margin: 20px;
}
.cardhover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.card:hover .cardhover {
  display: inline;
}
.curent {
  text-decoration: underline;
}
.next_page {
  display: flex;
  justify-content: flex-end;
}
.next_page_item {
  margin: 10px;
  padding: 10px;
  border: 1px solid rgb(3, 3, 3);
  border-radius: 10px;
  background-color: #fff;
}

/*       Jacket specific page         */
.size input {
  display: none;
}
.size label {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
.size input:checked + label {
  background-color: #0a3641;
  color: #ddd;
}
.breadcrumb {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.breadcrumb_item {
  padding: 10px;
}
.yellow {
  background-color: rgb(241, 241, 11);
  border: 1px solid black;
  border-radius: 50%;
  padding: 10px;
  margin: auto;
}
.black {
  background-color: #000;
  border: 1px solid black;
  border-radius: 50%;
  padding: 10px;
  margin: auto;
}
.blue {
  background-color: rgb(34, 20, 224);
  border: 1px solid black;
  border-radius: 50%;
  padding: 10px;
  margin: auto;
}

.red {
  background-color: rgb(224, 20, 20);
  border: 1px solid black;
  border-radius: 50%;
  padding: 10px;
  margin: auto;
}
.float_left {
  float: left;
}

.float_left img {
  object-fit: contain;
}

.main-product-container {
  display: grid;
  grid-template-columns: 1fr;
  margin: 30px 20px 30px 5px;
  justify-content: center;
}
.main-product-container li {
  padding: 10px;
}

.product-spesific-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.border-fix {
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}
.text-align {
  text-align: center;
  margin: 40px 10px;
}
/*     Reviws section inside jacket spesific page     */

.reviews-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.reviews-content > * {
  flex: 1;
}
.reviews-content p {
  font-size: 0.75em;
  margin: auto;
  inline-size: 15em;
}
.reviews-content div {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  margin: 20px;
  align-items: center;
}
.review-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  float: left;
}
.reviews-name {
  display: block;
}
.wright-review {
  text-decoration: underline;
  color: #000;
  font-size: 10px;
}
/*     About       */
.about_container,
.contact_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px 20px;
  text-align: center;
  margin: 40px 20px;
}
.about_container img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
/*    Contact    */

.hero_banner_map {
  width: 90%;
  max-height: 600px;
  margin: 25px auto;
  display: block;
}
main input,
select,
textarea {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  margin: 10px 10px 10px 0px;
  padding: 10px;
}

textarea {
  width: 80%;
  height: -webkit-fill-available;
}

.form-wraper {
  display: flex;
  text-align: left;
}

.form-wraper > * {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

/*      Sign in        */

.sign-container {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.sign-item {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
}
.checkbox-fix {
  display: flex;
  align-items: center;
}

#sign-mail,
#new-mail,
#sign-password,
#new-password,
#confirm-password,
#fname {
  width: 90%;
}

.sign-item h1,
.sign-item h2,
.sign-item p {
  text-align: left;
}

.border-left {
  border-left: 2px solid rgba(0, 0, 0, 0.2);
}

.sign-grid {
  display: grid;
  justify-items: center;
  justify-content: start;
}
.forgot-password {
  color: #000;
  font-size: 10px;
  text-decoration: underline;
  position: relative;
  top: -17px;
}
.posision-fix {
  position: absolute;
}

/*        hiden items on small screens            */

.hiden {
  display: none;
}

/*        @media querys            */

@media (min-width: 600px) {
  nav {
    display: flex;
  }
  header {
    justify-content: space-between;
  }
  h1 {
    font-size: 1.5em;
    inline-size: 14em;
  }
  .extra-content {
    display: grid;
  }
  .hero_banner {
    display: block;
  }
  .hiden {
    display: initial;
  }
  .img-wrapper {
    height: 350px;
  }
  .jacket_list {
    grid-template-columns: repeat(2, 1fr);
  }
  .main-product-container {
    grid-template-columns: 50% 50%;
  }
}

@media (min-width: 800px) {
  .welcome {
    font-size: 3em;
  }
  .sign-container {
    flex-direction: row;
  }
  .jacket_list {
    grid-template-columns: repeat(3, 1fr);
  }
  .main-product-container {
    grid-template-columns: 40% 50%;
  }
}

@media (min-width: 1000px) {
  .main-choises .item {
    margin: 40px auto;
  }
  .about_container,
  .contact_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .about_container img {
    height: 350px;
  }
}
